.App {
  font-family: sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  color: #007bff;
  font-weight: 700;
  text-align: left;
  font-size: 2rem;
  margin-bottom: 30px;
}

main {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-panel {
  flex: 1;
  min-width: 300px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #007bff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.left-panel textarea {
    width: 90%;
    height: 100px;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: vertical;
}


.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.options input,
.options select {
  flex: 1;
  min-width: 100px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.qr-display {
  flex: 1;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.qr-display img {
  max-width: 100%;
  width: 350px;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

button {
  align-self: flex-start;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 10px;
}
